# The port number on which the API Gateway listens
PORT=5000

# Connection URLs for routing to all backend microservices
USER_SERVICE_URL=http://localhost:5001
HABIT_SERVICE_URL=http://localhost:5002
ANALYTICS_SERVICE_URL=http://localhost:5003
AI_SERVICE_URL=http://localhost:5004
