MONGO_INITDB_DATABASE=changeme
JWT_SECRET=changeme
USER_DB_URI=mongodb://mongodb:27017/changeme
HABIT_DB_URI=mongodb://mongodb:27017/changeme
USER_SERVICE_URL=http://user-service:5001
HABIT_SERVICE_URL=http://habit-service:5002
ANALYTICS_SERVICE_URL=http://analytics-service:5003
AI_SERVICE_URL=http://ai-service:5004
